:root {
    --bg-color: #1d2021;
    --title-color: #83a598;
    --text-color: #8ec07c;
    --fg-color: #ebdbb2;
}

* {
    font-family: 'Sarasa Fixed J', 'Iosevka', monospace;
    font-size: 20px;
}

body {
    background-color: var(--bg-color);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    row-gap: .5em;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 60%;
}

.flex-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: .5em;
}

.volume {
    min-width: 30%;
}

.header {
    color: var(--title-color);
    font-weight: bold;
    text-align: center;
}

.content {
    color: var(--text-color);
    text-align: center;
}

#audio {
    position: absolute;
    bottom: 0;
    width: 100%;
}

button {
    background: none;
    border: none;
    text-decoration: underline;
    color: var(--title-color);
    text-underline: var(--title-color);
}

button:hover {
    font-weight: bold;
    cursor: pointer;
}

a {
    font-size: .8em;
    text-decoration: underline;
    color: var(--title-color);
    text-underline: var(--title-color);
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    min-width: 40%;
    max-width: 500px;
}

input[type="range"]::-moz-range-track {
    background-color: var(--title-color);
    height: 5px;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 5px;
    border-radius: 0;
    background-color: var(--fg-color);
    border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--title-color);
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 5px;
    border-radius: 0;
    background-color: var(--fg-color);
    border: none;
    margin-top: -5px;
}
